In [1]:
def get_udemy_info():
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'

    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    name = soup.select_one('body > div.row > div > div:nth-child(2) > div > div > div.card-image > span').string
    n_subscribers = soup.select_one('body > div.row > div > div:nth-child(2) > div > div > div.card-action > p.subscribers').string
    n_subscribers = int(n_subscribers.split('：')[1])
    n_reviews = soup.select_one('body > div.row > div > div:nth-child(2) > div > div > div.card-action > p.reviews').string
    n_reviews = int(n_reviews.split('：')[1])

    results = {
        'name': name,
        'n_subscribers': n_subscribers,
        'n_reviews': n_reviews
    }
    return results

In [2]:
def write_date():
    # 過去データ
    df = pd.read_csv('app/assets/data.csv')
    if datetime.strptime(df.iloc[-1]['date'], '%Y/%m/%d').date() == datetime.today().date():
        df.drop(df.index[-1], axis=0, inplace=True)

    # 新規データ
    _results = get_udemy_info()

    today_date = datetime.today().strftime('%Y/%-m/%-d')
    subscribers = _results['n_subscribers']
    reviews = _results['n_reviews']

    today_result = pd.DataFrame([[today_date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])

    # 書き込み
    df = pd.concat([df, today_result])
    df.to_csv('app/assets/data.csv', index=False)

# 詳細

## スクレイピング

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [5]:
r = requests.get(url)
r.text

'<!DOCTYPE html>\n<html lang="en" dir="ltr">\n<head>\n  <meta charset="utf-8">\n  <title>Webスクレイピング入門者のためのサイト</title>\n  <!-- Compiled and minified CSS -->\n  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">\n  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> \x08\n  <link rel="stylesheet" href="static/assets/css/style.css">\n  <link rel="stylesheet" href="static/assets/css/udemy.css">\n  <!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->\n</head>\n\n<body>\n  <!-- Navbar -->\n  <div class="navbar-fixed">\n    <!-- Dropdown Structure -->\n    <nav class="">\n      <div class="nav-wrapper row">\n        <div class="col s5 l4 offset-s1 offset-l1">\n          <a href="\x08/" class="brand-logo">Webスクレイピング入門</a>\n        </div>\n        <div class="col s5 l6">\n          <ul id="nav-mobile" class="right hide-on-med-and-down">\n            <li><a href="\x08/login_page" class="">ログイン</a></li>\n            <li><a href="/ranking/" class="">ランキング</a></li>\n            <li><a href="/image" class="">画像</a></li>\n            <li><a href="/udemy" class="">Udemy</a></li>\n            <li><a href="https://scraping-for-beginner.readthedocs.io/" target=”_blank” class="">サンプルコード</a></li>\n          </ul>\n        </div>\n      </div>\n    </nav>\n  </div>\n\n  \n\n<div class="row">\n  <div class="col s4 offset-s4">\n    <div class="overview">\n      <p>\n      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。\n      </p>\n    </div>\n    <div class="">\n      <div class="">\n        <div class="card">\n          <div class="card-image">\n            <img src="/static/assets/img/self-introduction.jpg">\n            <span class="card-title">今西 航平</span>\n          </div>\n          <div class="card-content">\n            <p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br>\n\n              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br>\n\n            </p>\n          </div>\n          <div class="card-action">\n              <p class="subscribers">受講生の数：3726</p>\n              <p class="reviews">レビューの数：373</p>\n          </div>\n        </div>\n      </div>\n    </div>\n\n  </div>\n</div>\n\n\n  <!-- Compiled and minified JavaScript -->\n  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>\n  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>\n  <script type="text/javascript">\n    $(document).ready(function() {\n      $(".dropdown-trigger").dropdown();\n    });\n  </script>\n\n\n</body>\n\n</html>'

In [6]:
soup = BeautifulSoup(r.text, 'html.parser')
soup

<!DOCTYPE html>

<html dir="ltr" lang="en">
<head>
<meta charset="utf-8"/>
<title>Webスクレイピング入門者のためのサイト</title>
<!-- Compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> 
  <link href="static/assets/css/style.css" rel="stylesheet"/>
<link href="static/assets/css/udemy.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->
</head>
<body>
<!-- Navbar -->
<div class="navbar-fixed">
<!-- Dropdown Structure -->
<nav class="">
<div class="nav-wrapper row">
<div class="col s5 l4 offset-s1 offset-l1">
<a class="brand-logo" href="/">Webスクレイピング入門</a>
</div>
<div class="col s5 l6">
<ul class="right hide-on-med-and-down" id="nav-mobile">
<li><a class="" href="/login_page">ログイン</a></li>
<li><a class="" href="/ranking/">ランキング</a></li>
<li><a class="" href="/image">画像</a></li>
<li><a class="" href="/udemy">Udemy</a></li>
<li><a class="" href="https://scraping-for-beginner.readthedocs.io/" target="”_blank”">サンプルコード</a></li>
</ul>
</div>
</div>
</nav>
</div>
<div class="row">
<div class="col s4 offset-s4">
<div class="overview">
<p>
      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。
      </p>
</div>
<div class="">
<div class="">
<div class="card">
<div class="card-image">
<img src="/static/assets/img/self-introduction.jpg"/>
<span class="card-title">今西 航平</span>
</div>
<div class="card-content">
<p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br/>

              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br/>
</p>
</div>
<div class="card-action">
<p class="subscribers">受講生の数：3726</p>
<p class="reviews">レビューの数：373</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-trigger").dropdown();
    });
  </script>
</body>
</html>

In [7]:
name = soup.select_one('body > div.row > div > div:nth-child(2) > div > div > div.card-image > span').string
name

'今西 航平'

In [8]:
n_subscribers = soup.select_one('body > div.row > div > div:nth-child(2) > div > div > div.card-action > p.subscribers').string
print(n_subscribers)
n_subscribers = int(n_subscribers.split('：')[1])
n_subscribers

受講生の数：3726

3726

In [9]:
n_reviews = soup.select_one('body > div.row > div > div:nth-child(2) > div > div > div.card-action > p.reviews').string
print(n_reviews)
n_reviews = int(n_reviews.split('：')[1])
n_reviews

レビューの数：373

373

In [10]:
results = {
    'name': name,
    'n_subscribers': n_subscribers,
    'n_reviews': n_reviews
}
results

{'name': '今西 航平', 'n_subscribers': 3726, 'n_reviews': 373}

---

## 過去データの読み込み

In [11]:
import pandas as pd
from datetime import datetime

In [12]:
df = pd.read_csv('assets/data.csv')
if datetime.strptime(df.iloc[-1]['date'], '%Y/%m/%d').date() == datetime.today().date():
    print('今日のデータを削除')
    df.drop(df.index[-1], axis=0, inplace=True)
df.tail()

今日のデータを削除

          date  subscribers  reviews
125  2019/5/22         3675      359
126  2019/5/23         3681      359
127  2019/5/24         3694      361
128  2019/5/25         3699      361
129  2019/5/26         3711      364

In [13]:
today_date = datetime.today().strftime('%Y/%-m/%-d')
subscribers = results['n_subscribers']
reviews = results['n_reviews']

today_date, subscribers, reviews

('2019/5/27', 3726, 373)

In [14]:
today_result = pd.DataFrame([[today_date, subscribers, reviews]], columns=df.columns)
today_result

        date  subscribers  reviews
0  2019/5/27         3726      373

In [15]:
df = pd.concat([df, today_result])
df.tail()

          date  subscribers  reviews
126  2019/5/23         3681      359
127  2019/5/24         3694      361
128  2019/5/25         3699      361
129  2019/5/26         3711      364
0    2019/5/27         3726      373

In [16]:
df.to_csv('assets/data.csv', index=False)

In [17]:
df = pd.read_csv('assets/data.csv')
df.tail()

          date  subscribers  reviews
126  2019/5/23         3681      359
127  2019/5/24         3694      361
128  2019/5/25         3699      361
129  2019/5/26         3711      364
130  2019/5/27         3726      373