まとめ

In [1]:
import pandas as pd
from datetime import datetime

df = pd.read_csv('assets/data.csv')

dates = df['date'].apply(lambda x: datetime.strptime(x, '%Y/%m/%d').date())
n_subscribers = df['subscribers'].values
n_reviews = df['reviews'].values
diff_subscribers = df['subscribers'].diff().values
diff_reviews = df['reviews'].diff().values

---

詳細

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_csv('assets/data.csv')

In [4]:
display(df.tail())
display(df.info())

          date  subscribers  reviews
126  2019/5/23         3681      359
127  2019/5/24         3694      361
128  2019/5/25         3699      361
129  2019/5/26         3711      364
130  2019/5/27         3726      373

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 3 columns):
date           131 non-null object
subscribers    131 non-null int64
reviews        131 non-null int64
dtypes: int64(2), object(1)
memory usage: 3.1+ KB

None

In [5]:
dates = df['date'].apply(lambda x: datetime.strptime(x, '%Y/%m/%d').date())
dates.head()

0    2019-01-17
1    2019-01-18
2    2019-01-19
3    2019-01-20
4    2019-01-21
Name: date, dtype: object

In [6]:
n_subscribers = df['subscribers'].values
n_subscribers

array([2671, 2671, 2674, 2685, 2695, 2701, 2710, 2718, 2722, 2725, 2734,
       2753, 2773, 2785, 2803, 2845, 2847, 2847, 2851, 2852, 2857, 2861,
       2865, 2870, 2875, 2892, 2906, 2919, 2942, 2974, 2977, 2978, 2981,
       2983, 2984, 2987, 2989, 2993, 2995, 3009, 3014, 3023, 3031, 3052,
       3060, 3062, 3063, 3066, 3071, 3074, 3076, 3077, 3080, 3087, 3089,
       3093, 3098, 3104, 3112, 3120, 3131, 3142, 3162, 3173, 3180, 3187,
       3189, 3196, 3212, 3220, 3226, 3241, 3253, 3255, 3258, 3262, 3264,
       3272, 3275, 3276, 3279, 3285, 3300, 3306, 3312, 3319, 3324, 3325,
       3329, 3331, 3332, 3333, 3336, 3339, 3343, 3349, 3357, 3370, 3388,
       3412, 3437, 3439, 3440, 3447, 3466, 3481, 3504, 3522, 3527, 3533,
       3543, 3546, 3555, 3566, 3583, 3594, 3614, 3633, 3647, 3648, 3649,
       3651, 3654, 3658, 3671, 3675, 3681, 3694, 3699, 3711, 3726])

In [7]:
n_reviews = df['reviews'].values
n_reviews

array([194, 195, 197, 199, 199, 200, 200, 201, 201, 201, 202, 204, 206,
       208, 210, 211, 213, 213, 217, 218, 219, 220, 222, 224, 224, 227,
       229, 229, 231, 232, 234, 234, 234, 234, 237, 239, 239, 241, 241,
       241, 243, 243, 243, 244, 245, 246, 249, 252, 254, 255, 256, 258,
       258, 261, 261, 262, 262, 262, 262, 262, 265, 266, 266, 268, 269,
       271, 271, 274, 274, 274, 275, 275, 278, 278, 280, 282, 282, 282,
       284, 287, 289, 289, 291, 293, 295, 295, 295, 297, 298, 299, 299,
       299, 299, 299, 300, 302, 303, 303, 304, 304, 305, 305, 308, 309,
       310, 311, 314, 317, 322, 324, 327, 328, 330, 332, 334, 335, 338,
       340, 344, 349, 349, 351, 351, 354, 354, 359, 359, 361, 361, 364,
       373])

In [8]:
diff_subscribers = df['subscribers'].diff().values
diff_subscribers

array([nan,  0.,  3., 11., 10.,  6.,  9.,  8.,  4.,  3.,  9., 19., 20.,
       12., 18., 42.,  2.,  0.,  4.,  1.,  5.,  4.,  4.,  5.,  5., 17.,
       14., 13., 23., 32.,  3.,  1.,  3.,  2.,  1.,  3.,  2.,  4.,  2.,
       14.,  5.,  9.,  8., 21.,  8.,  2.,  1.,  3.,  5.,  3.,  2.,  1.,
        3.,  7.,  2.,  4.,  5.,  6.,  8.,  8., 11., 11., 20., 11.,  7.,
        7.,  2.,  7., 16.,  8.,  6., 15., 12.,  2.,  3.,  4.,  2.,  8.,
        3.,  1.,  3.,  6., 15.,  6.,  6.,  7.,  5.,  1.,  4.,  2.,  1.,
        1.,  3.,  3.,  4.,  6.,  8., 13., 18., 24., 25.,  2.,  1.,  7.,
       19., 15., 23., 18.,  5.,  6., 10.,  3.,  9., 11., 17., 11., 20.,
       19., 14.,  1.,  1.,  2.,  3.,  4., 13.,  4.,  6., 13.,  5., 12.,
       15.])

In [9]:
diff_reviews = df['reviews'].diff().values
diff_reviews

array([nan,  1.,  2.,  2.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  2.,  2.,
        2.,  2.,  1.,  2.,  0.,  4.,  1.,  1.,  1.,  2.,  2.,  0.,  3.,
        2.,  0.,  2.,  1.,  2.,  0.,  0.,  0.,  3.,  2.,  0.,  2.,  0.,
        0.,  2.,  0.,  0.,  1.,  1.,  1.,  3.,  3.,  2.,  1.,  1.,  2.,
        0.,  3.,  0.,  1.,  0.,  0.,  0.,  0.,  3.,  1.,  0.,  2.,  1.,
        2.,  0.,  3.,  0.,  0.,  1.,  0.,  3.,  0.,  2.,  2.,  0.,  0.,
        2.,  3.,  2.,  0.,  2.,  2.,  2.,  0.,  0.,  2.,  1.,  1.,  0.,
        0.,  0.,  0.,  1.,  2.,  1.,  0.,  1.,  0.,  1.,  0.,  3.,  1.,
        1.,  1.,  3.,  3.,  5.,  2.,  3.,  1.,  2.,  2.,  2.,  1.,  3.,
        2.,  4.,  5.,  0.,  2.,  0.,  3.,  0.,  5.,  0.,  2.,  0.,  3.,
        9.])