In [1]:
from assets.database import db_session, init_db
from assets.models import Data

import datetime

まずはDB設定・接続

In [2]:
init_db()

2019-05-26 14:47:16,683 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-05-26 14:47:16,684 INFO sqlalchemy.engine.base.Engine ()
2019-05-26 14:47:16,686 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-05-26 14:47:16,687 INFO sqlalchemy.engine.base.Engine ()
2019-05-26 14:47:16,691 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("data")
2019-05-26 14:47:16,693 INFO sqlalchemy.engine.base.Engine ()
2019-05-26 14:47:16,698 INFO sqlalchemy.engine.base.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATE,
	subscribers INTEGER,
	reviews INTEGER,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2019-05-26 14:47:16,700 INFO sqlalchemy.engine.base.Engine ()
2019-05-26 14:47:16,707 INFO sqlalchemy.engine.base.Engine COMMIT

# CREATE

In [3]:
date = datetime.date.today()
date

datetime.date(2019, 5, 26)

In [4]:
row = Data(date=date, subscribers=3500, reviews=200)
row

In [5]:
db_session.add(row)

データ操作は `commit()` してDBに反映される

In [6]:
db_session.commit()

2019-05-26 14:47:16,760 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-26 14:47:16,766 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-26 14:47:16,768 INFO sqlalchemy.engine.base.Engine ('2019-05-26', 3500, 200, '2019-05-26 14:47:16.672335')
2019-05-26 14:47:16,777 INFO sqlalchemy.engine.base.Engine COMMIT

In [7]:
row1 = Data(date=date, subscribers=6500, reviews=210)
row2 = Data(date=date, subscribers=1500, reviews=220)

In [8]:
db_session().add(row1)
db_session().add(row2)

複数のデータを `add` しても `commit()` の操作は1回

In [9]:
db_session.commit()

2019-05-26 14:47:16,815 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-26 14:47:16,816 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-26 14:47:16,817 INFO sqlalchemy.engine.base.Engine ('2019-05-26', 6500, 210, '2019-05-26 14:47:16.672335')
2019-05-26 14:47:16,824 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-26 14:47:16,825 INFO sqlalchemy.engine.base.Engine ('2019-05-26', 1500, 220, '2019-05-26 14:47:16.672335')
2019-05-26 14:47:16,828 INFO sqlalchemy.engine.base.Engine COMMIT

# READ

In [10]:
db_session.query(Data).all()

2019-05-26 14:47:16,852 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-26 14:47:16,853 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-05-26 14:47:16,855 INFO sqlalchemy.engine.base.Engine ()

[<assets.models.Data at 0x7f6b8dd08400>,
 <assets.models.Data at 0x7f6b8dc7f668>,
 <assets.models.Data at 0x7f6b8dc7f6d8>]

In [11]:
db_session.query(Data).all()[0].subscribers

2019-05-26 14:47:16,867 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-05-26 14:47:16,868 INFO sqlalchemy.engine.base.Engine ()

3500

# UPDATE

In [12]:
datum = db_session.query(Data).all()[0]
datum

2019-05-26 14:47:16,880 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-05-26 14:47:16,882 INFO sqlalchemy.engine.base.Engine ()

In [13]:
datum.subscribers = 10000

In [14]:
db_session.add(datum)
db_session.commit()

2019-05-26 14:47:16,903 INFO sqlalchemy.engine.base.Engine UPDATE data SET subscribers=? WHERE data.id = ?
2019-05-26 14:47:16,905 INFO sqlalchemy.engine.base.Engine (10000, 1)
2019-05-26 14:47:16,915 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
db_session.query(Data).all()[0].subscribers

2019-05-26 14:47:16,938 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-26 14:47:16,941 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-05-26 14:47:16,944 INFO sqlalchemy.engine.base.Engine ()

10000

# DELETE

In [16]:
datum = db_session.query(Data).filter_by(subscribers=10000).one()
datum.subscribers

2019-05-26 14:47:16,963 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
WHERE data.subscribers = ?
2019-05-26 14:47:16,965 INFO sqlalchemy.engine.base.Engine (10000,)

10000

In [17]:
db_session.delete(datum)
db_session.commit()

2019-05-26 14:47:16,981 INFO sqlalchemy.engine.base.Engine DELETE FROM data WHERE data.id = ?
2019-05-26 14:47:16,983 INFO sqlalchemy.engine.base.Engine (1,)
2019-05-26 14:47:16,991 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
db_session.query(Data).all()

2019-05-26 14:47:17,016 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-26 14:47:17,018 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-05-26 14:47:17,019 INFO sqlalchemy.engine.base.Engine ()

[<assets.models.Data at 0x7f6b8dc7f668>,
 <assets.models.Data at 0x7f6b8dc7f6d8>]

In [19]:
Data.query.delete()

2019-05-26 14:47:17,032 INFO sqlalchemy.engine.base.Engine DELETE FROM data
2019-05-26 14:47:17,034 INFO sqlalchemy.engine.base.Engine ()

2

In [20]:
db_session.query(Data).all()

2019-05-26 14:47:42,795 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2019-05-26 14:47:42,797 INFO sqlalchemy.engine.base.Engine ()

[]