In [1]:
from assets.models import Data
import pandas as pd
import datetime

from assets.database import db_session

In [2]:
df = pd.read_csv('assets/data.csv')

In [3]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

date型への変換

In [4]:
df.loc[0, 'date']

'2019/1/17'

In [5]:
datetime.datetime.strptime(df.loc[0, 'date'], '%Y/%m/%d').date()

datetime.date(2019, 1, 17)

for文で記述する場合

In [6]:
for index, _df in df.iterrows():
    date = datetime.datetime.strptime(_df['date'], '%Y/%m/%d').date()
    row = Data(date=date, subscribers=_df.subscribers, reviews=_df.reviews)
    db_session.add(row)
# db_session.commit()
db_session.rollback()

リスト内包表記で記述する場合

In [7]:
to_date = (lambda x: datetime.datetime.strptime(x, '%Y/%m/%d').date())
db_session.add_all([Data(date=to_date(row.date), subscribers=row.subscribers, reviews=row.reviews) for i, row in df.iterrows()])
# db_session.commit()
db_session.rollback()

メソッド化

In [8]:
def read_data():
    from assets import models
    df = pd.read_csv('assets/data.csv')
    to_date = (lambda x: datetime.datetime.strptime(x, '%Y/%m/%d').date())
    db_session.add_all([Data(date=to_date(row.date), subscribers=row.subscribers, reviews=row.reviews) for i, row in df.iterrows()])
    db_session.commit()

In [9]:
from assets.database import init_db 

init_db()
read_data()

2019-05-27 06:39:08,221 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-05-27 06:39:08,222 INFO sqlalchemy.engine.base.Engine ()
2019-05-27 06:39:08,223 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-05-27 06:39:08,225 INFO sqlalchemy.engine.base.Engine ()
2019-05-27 06:39:08,227 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("data")
2019-05-27 06:39:08,229 INFO sqlalchemy.engine.base.Engine ()
2019-05-27 06:39:08,233 INFO sqlalchemy.engine.base.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATE,
	subscribers INTEGER,
	reviews INTEGER,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2019-05-27 06:39:08,235 INFO sqlalchemy.engine.base.Engine ()
2019-05-27 06:39:08,247 INFO sqlalchemy.engine.base.Engine COMMIT
2019-05-27 06:39:08,289 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-05-27 06:39:08,291 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,292 INFO sqlalchemy.engine.base.Engine ('2019-01-17', 2671, 194, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,299 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,300 INFO sqlalchemy.engine.base.Engine ('2019-01-18', 2671, 195, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,300 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,301 INFO sqlalchemy.engine.base.Engine ('2019-01-19', 2674, 197, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,303 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,305 INFO sqlalchemy.engine.base.Engine ('2019-01-20', 2685, 199, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,306 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,308 INFO sqlalchemy.engine.base.Engine ('2019-01-21', 2695, 199, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,309 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,311 INFO sqlalchemy.engine.base.Engine ('2019-01-22', 2701, 200, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,313 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,314 INFO sqlalchemy.engine.base.Engine ('2019-01-23', 2710, 200, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,315 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,316 INFO sqlalchemy.engine.base.Engine ('2019-01-24', 2718, 201, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,317 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,318 INFO sqlalchemy.engine.base.Engine ('2019-01-25', 2722, 201, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,319 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,322 INFO sqlalchemy.engine.base.Engine ('2019-01-26', 2725, 201, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,323 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,324 INFO sqlalchemy.engine.base.Engine ('2019-01-27', 2734, 202, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,327 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,328 INFO sqlalchemy.engine.base.Engine ('2019-01-28', 2753, 204, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,330 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,331 INFO sqlalchemy.engine.base.Engine ('2019-01-29', 2773, 206, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,332 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,333 INFO sqlalchemy.engine.base.Engine ('2019-01-30', 2785, 208, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,335 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,336 INFO sqlalchemy.engine.base.Engine ('2019-01-31', 2803, 210, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,337 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,339 INFO sqlalchemy.engine.base.Engine ('2019-02-01', 2845, 211, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,340 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,341 INFO sqlalchemy.engine.base.Engine ('2019-02-02', 2847, 213, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,343 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,347 INFO sqlalchemy.engine.base.Engine ('2019-02-03', 2847, 213, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,348 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,349 INFO sqlalchemy.engine.base.Engine ('2019-02-04', 2851, 217, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,350 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,351 INFO sqlalchemy.engine.base.Engine ('2019-02-05', 2852, 218, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,352 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,353 INFO sqlalchemy.engine.base.Engine ('2019-02-06', 2857, 219, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,354 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,355 INFO sqlalchemy.engine.base.Engine ('2019-02-07', 2861, 220, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,356 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,357 INFO sqlalchemy.engine.base.Engine ('2019-02-08', 2865, 222, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,359 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,361 INFO sqlalchemy.engine.base.Engine ('2019-02-09', 2870, 224, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,363 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,365 INFO sqlalchemy.engine.base.Engine ('2019-02-10', 2875, 224, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,366 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,367 INFO sqlalchemy.engine.base.Engine ('2019-02-11', 2892, 227, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,368 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,369 INFO sqlalchemy.engine.base.Engine ('2019-02-12', 2906, 229, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,370 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,371 INFO sqlalchemy.engine.base.Engine ('2019-02-13', 2919, 229, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,372 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,373 INFO sqlalchemy.engine.base.Engine ('2019-02-14', 2942, 231, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,374 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,375 INFO sqlalchemy.engine.base.Engine ('2019-02-15', 2974, 232, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,376 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,377 INFO sqlalchemy.engine.base.Engine ('2019-02-16', 2977, 234, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,378 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,380 INFO sqlalchemy.engine.base.Engine ('2019-02-17', 2978, 234, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,381 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,383 INFO sqlalchemy.engine.base.Engine ('2019-02-18', 2981, 234, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,385 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,386 INFO sqlalchemy.engine.base.Engine ('2019-02-19', 2983, 234, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,388 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,389 INFO sqlalchemy.engine.base.Engine ('2019-02-20', 2984, 237, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,390 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,392 INFO sqlalchemy.engine.base.Engine ('2019-02-21', 2987, 239, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,393 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,394 INFO sqlalchemy.engine.base.Engine ('2019-02-22', 2989, 239, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,395 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,397 INFO sqlalchemy.engine.base.Engine ('2019-02-23', 2993, 241, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,398 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,399 INFO sqlalchemy.engine.base.Engine ('2019-02-24', 2995, 241, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,400 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,401 INFO sqlalchemy.engine.base.Engine ('2019-02-25', 3009, 241, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,402 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,403 INFO sqlalchemy.engine.base.Engine ('2019-02-26', 3014, 243, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,405 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,406 INFO sqlalchemy.engine.base.Engine ('2019-02-27', 3023, 243, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,407 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,408 INFO sqlalchemy.engine.base.Engine ('2019-02-28', 3031, 243, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,410 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,411 INFO sqlalchemy.engine.base.Engine ('2019-03-01', 3052, 244, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,412 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,413 INFO sqlalchemy.engine.base.Engine ('2019-03-02', 3060, 245, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,415 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,416 INFO sqlalchemy.engine.base.Engine ('2019-03-03', 3062, 246, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,417 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,418 INFO sqlalchemy.engine.base.Engine ('2019-03-04', 3063, 249, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,422 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,424 INFO sqlalchemy.engine.base.Engine ('2019-03-05', 3066, 252, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,425 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,427 INFO sqlalchemy.engine.base.Engine ('2019-03-06', 3071, 254, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,429 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,430 INFO sqlalchemy.engine.base.Engine ('2019-03-07', 3074, 255, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,432 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,433 INFO sqlalchemy.engine.base.Engine ('2019-03-08', 3076, 256, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,434 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,434 INFO sqlalchemy.engine.base.Engine ('2019-03-09', 3077, 258, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,437 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,437 INFO sqlalchemy.engine.base.Engine ('2019-03-10', 3080, 258, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,439 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,439 INFO sqlalchemy.engine.base.Engine ('2019-03-11', 3087, 261, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,441 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,442 INFO sqlalchemy.engine.base.Engine ('2019-03-12', 3089, 261, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,444 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,446 INFO sqlalchemy.engine.base.Engine ('2019-03-13', 3093, 262, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,447 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,448 INFO sqlalchemy.engine.base.Engine ('2019-03-14', 3098, 262, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,449 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,451 INFO sqlalchemy.engine.base.Engine ('2019-03-15', 3104, 262, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,454 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,455 INFO sqlalchemy.engine.base.Engine ('2019-03-16', 3112, 262, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,457 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,458 INFO sqlalchemy.engine.base.Engine ('2019-03-17', 3120, 262, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,459 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,463 INFO sqlalchemy.engine.base.Engine ('2019-03-18', 3131, 265, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,464 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,465 INFO sqlalchemy.engine.base.Engine ('2019-03-19', 3142, 266, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,466 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,467 INFO sqlalchemy.engine.base.Engine ('2019-03-20', 3162, 266, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,469 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,470 INFO sqlalchemy.engine.base.Engine ('2019-03-21', 3173, 268, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,471 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,471 INFO sqlalchemy.engine.base.Engine ('2019-03-22', 3180, 269, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,473 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,474 INFO sqlalchemy.engine.base.Engine ('2019-03-23', 3187, 271, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,476 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,477 INFO sqlalchemy.engine.base.Engine ('2019-03-24', 3189, 271, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,479 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,480 INFO sqlalchemy.engine.base.Engine ('2019-03-25', 3196, 274, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,481 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,483 INFO sqlalchemy.engine.base.Engine ('2019-03-26', 3212, 274, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,486 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,486 INFO sqlalchemy.engine.base.Engine ('2019-03-27', 3220, 274, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,488 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,490 INFO sqlalchemy.engine.base.Engine ('2019-03-28', 3226, 275, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,492 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,493 INFO sqlalchemy.engine.base.Engine ('2019-03-29', 3241, 275, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,495 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,496 INFO sqlalchemy.engine.base.Engine ('2019-03-30', 3253, 278, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,497 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,498 INFO sqlalchemy.engine.base.Engine ('2019-03-31', 3255, 278, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,499 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,501 INFO sqlalchemy.engine.base.Engine ('2019-04-01', 3258, 280, '2019-05-27 06:39:08.016755')
2019-05-27 06:39:08,502 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2019-05-27 06:39:08,502 INFO sqlalchemy.engine.base.Engine ('2019-04-02', 3262, 282, '2019-05-27 06:39:08.016755')